* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: BoschSansCHS-Regular;
  src: url('/fontes/BoschSans-Complete/boschsans-v5_003/fonts-woff2/BoschSans-Medium-v5_003.woff2') format('woff2');
}

@font-face {
  font-family: BoschSansCHS-Light;
  src: url('/fontes/BoschSans-Complete/boschsans-v5_003/fonts-woff2/BoschSans-Light-v5_003.woff2') format('woff2');
}


body {
  height: 100%;
  background-color: #ffffff;
  font-family: BoschSansCHS-Regular;
  color: black;
  width: auto;
  overflow-x: hidden;
}

header {
  box-shadow: 0px 4px 29px 0px rgba(0, 0, 0, 0.23);
}

#Supergrafic {
  margin-top: -14px;
  height: 13.6px;
  width: 100%;
}

.subHeader img {
  width: 250px;
}

.subHeader a {
  font-size: 23px;
  text-decoration: none;
  color: #4B8CEF;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-estilizado {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 90px auto;
  width: 1013px;
  border-radius: 30px;
  gap: 45px;
  box-shadow: 0px 4px 15.3px 0px rgba(0, 0, 0, 0.20);
  padding: 90px 60px;
}

.card-estilizado h1 {
  font-size: 36px;
  width: 50%;
  text-align: center;
}

.card-estilizado h2 {
  color: #007BC0;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;

}

.card-estilizado h3 {
  width: 504px;
  color: #000;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;

}

#div-administrador {
  display: flex;
}

#div-administrador h3 {
  font-weight: bold;
  margin: auto 40px;
}

.input-estilizado {
  height: 63px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #8d8d8d;
  background: #FFF;
  padding: 12px;
  padding-left: 25px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-estilizado::placeholder {
  color: #8d8d8d;
}

.botao {
  background: #007BC0;
  padding: 15px 50px;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 20px;
}

.botao a {
  color: white;
  text-decoration: none;
}

.botao:hover {
  background: #008d13;
  transition: all 0.5s;
}

.titleHome {
  color: #5B5B5B;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 80px 0px;
  font-family: BoschSansCHS-Regular;
}

.opcoesInstrutor {
  display: flex;
  padding-bottom: 50px;
}

.opcoesInstrutor a{
  text-decoration: none;
  width: 450px;
  margin-right: 30px;
}

#section-opcoes {
  padding: 0px 150px;
}

#card-questoes {
  background-image: url("/img/Card_questoes.svg");
}

#card-provas {
  background-image: url("/img/Card_provas.svg");
}

#card-dashboard {
  background-image: url("/img/Card_dashboard.svg");
}

.card-opcoes{
  background-repeat: no-repeat;
  height: 549px;
  width: 450px;
  color: white;
  margin-right: 30px;
  padding: 40px;
  border-radius: 14px;
}

.card-opcoes h1{
  font-family: BoschSansCHS-Light;
  font-size: 65px;
}

.card-opcoes h2{
  font-family: BoschSansCHS-Light;
  font-size: 20px;
}

.texto-opcoes {
  margin-top: 90%;
}

.botao-adicionar {
  border: none;
  background: none;
}

.link-botao-adicionar {
  display: flex;
  background: #007BC0;
  border-radius: 14px;
  width: 260px;
  padding: 5px 25px;
  justify-content: space-between;
  text-decoration: none;
}

.link-botao-adicionar:hover {
  background: #00649f;
  transition: all 0.5s;
}

.link-botao-adicionar h1 {
  font-size: 25px;
  margin: auto;
  color: white;
}

.section-principal {
  margin-top: 70px;
}

#div-questoes {
  padding-top: 70px;
}

.questao {
  display: flex;
  box-shadow: 0px 2px 8.6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  padding: 30px 80px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.questao h1{
  font-size: 25px;
  font-family: BoschSansCHS-Regular;
}

.questao span{
  font-size: 20px;
  font-family: BoschSansCHS-Light;
  color: #5B5B5B;
}

#opcoes-questao {
  margin: auto 0px;
}

#opcoes-questao span{
  font-size: 20px;
  font-family: BoschSansCHS-Regular;
  color: #9E2896;
  margin-right: 90px;
}

#opcoes-questao a{
  font-size: 20px;
  font-family: BoschSansCHS-Regular;
  color: #00649f;
  text-decoration: none;
}

.titulo-principal {
  color: #5B5B5B;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#card-adicionar {
  width: 100%;
}

#div-adicionar-topo label{
  font-family: BoschSansCHS-Regular;
}

#div-adicionar-topo {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
}

#div-enunciado textarea{
  width: 100%;
  margin-bottom: 50px;
  height: 120px;
  resize: none;
}

.alternativa {
  margin-bottom: 20px;
  display: flex;
}

#div-alternativas textarea {
  width: 90%;
  height: 80px;
  resize: none;
}

#div-alternativas h1 {
  margin: auto;
}

.botao-questao {
  height: 50px;
  color: white;
  border-radius: 14px;
  border: none;
  width: 200px;
  padding: 5px 25px;
  justify-content: space-between;
  text-decoration: none;
  font-family: BoschSansCHS-Regular;
}

#botao-adicionar {
  background: #008d13;
}

#botao-adicionar:hover {
  background: #00700f;
  transition: all 0.5s;
}

#botao-cancelar {
  border: solid 1px rgb(119, 119, 119);
  background: white;
  color: #585858;
}

#botao-cancelar:hover {
  transition: all 1s;
  border: none;
  color: white;
  background: #ED0007;
}

.div-gerar-prova{
  display: flex;
  justify-content: space-between;
}

.link-estilizado {
  font-size: 23px;
  text-decoration: none;
  color: #4B8CEF;
}

.div-botoes-adicionar{
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 50px;
}

#div-prova{
  padding: 80px;
  margin-bottom: 50px;
}

#div-prova h2{
  color: #9e9e9e;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#form-prova{
  margin-top: 80px;
}

#form-prova h2{
  font-size: 24px;
  font-weight: 400;

}

.div-respostas{
  display: flex;
  flex-direction: column;
  gap: 40px;
  float: left;
  margin: 80px 40px;
}

.input-label{
  display: flex;
  justify-content: center;
  gap: 22px;
}

.input-label input{
    height: 35px;
}

.sub-header{
  display: flex;
  justify-content: space-between;
}

.enviar-prova{
  width: 180px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #00884A;
  border: none;
  color: white;
  float: right;
  margin: 50px;
}

.card-opcoes:hover{
  transition: all 0.3s;
  scale: 1.05;
}

.card-opcoes:hover h1{
  transition: all 0.4s;
  font-size: 75px;
}

.card-opcoes:hover h2{
  transition: all 0.4s;
  font-size: 22px;
}
